* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #cadafd6b;
    color: #333;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    justify-content: flex-start;
    background-color: #88bfff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    z-index: 1;
}

nav .icon {
    font-size: 32px;
    color: #333;
    margin-bottom: 2px;
}

nav ul {
    list-style: none;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #2c2c2cc9;
    padding: 8px;
    display: block;
    text-align: center;
    font-weight: bold;
}

nav a:hover {
    color: #88bfff;
    background-color: #ffffffc5;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding-bottom: 3px;
    font-size: 12px;
    width: 100%;
}

.nav-bottom .menu-item{
    display: flex;
    align-items: center;

}

.nav-bottom .icon {
    font-size: 12px;
}


main {
    margin-left: 220px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.user_pannel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
}

.user_list_section,
.register_section,
.company_data {
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.082);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 16px;
    border-bottom: 1px solid #dbdbdb;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #88bfffa6;
    width: 100%;
    z-index: 0;
}

/*TODO: falta estilos al form*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    width: 100%;

}

/*TODO: falta el responsive terminar*/
@media screen and (max-width: 1000px) {
    nav {
        display: none;
    }

    main {
        margin-left: 0px;
        padding: 24px;
    }

    .user_pannel {
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }
}